<%- include('partials/header.ejs') %>
        <div class="style">
                <h1> Welcome to Mercury!</h1>
                <br>
                <p class="style"> 
                        Mercury is the closest planet to the sun.
                        As such, it circles the sun faster than all the other planets,
                        which is why Romans named it after their swift-footed messenger god.
                        The Sumerians also knew of Mercury since at least 5,000 years ago.
                        It was often associated with Nabu, the god of writing.
                        Mercury was also given separate names for its appearance as both a morning star 
                        and as an evening star. Greek astronomers knew, however, that the two names
                        referred to the same body, and Heraclitus, around 500 B.C., correctly thought
                        that both Mercury and Venus orbited the sun, not Earth.
                </p>
                <br>
                <img src="/img/mercury.png" alt="The Solar System" width="800px" height="400px"></img>
        </div>
        
    <%- include('partials/footer.ejs') %>