<%- include('partials/header.ejs') %>
        <div class="style">
                <h1> Welcome to Venus!</h1>
                <br><br>
                <p class="style"> 
                        Second planet from the Sun and our closest planetary neighbor,
                        Venus is similar in structure and size to Earth, but it is now a very different world.
                        Venus spins slowly in the opposite direction most planets do. Its thick atmosphere traps heat
                        in a runaway greenhouse effect, making it the hottest planet in our solar system—with surface
                        temperatures hot enough to melt lead. Glimpses below the clouds reveal volcanoes and deformed mountains.
                </p>
                <br>
                <img src="/img/venus.png" alt="The Solar System" width="800px" height="400px"></img>
        </div>
    <%- include('partials/footer.ejs') %>