
header{
  background: blue;

}

body{
  text-align: center;
}

.rowOfPics{
  display: inline-flex;
  height: 400px;
  align-content: start;
  grid-gap: 100px;
   
  /*background-color: #2196F3;*/
  padding: 20px;
}

#vertical {

	border-radius: 20px;
	height: 250px;
	width: 150px;
}

#horizontal {

	border-radius: 20px;
	height: 100px;
	width: 200px;

}